body {
    margin: 0;
    height: 100vh;
}

img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #13293d;
    font-family: 'roboto';
    color: white;
    height: 100%;
}

.game-view {
    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.start-view {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #495F7A;
}

.image-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.title {
    display: flex;
    justify-content: center;
    background-color: #16324F;
}

.score-board {
    display: flex;
    justify-content: space-evenly;
    background-color: #2F4964;
    text-align: center;
}

p {
    text-align: center;
}

.alert {
    background-color: #495F7A;
}


.start-btn {
    width: 400px;
    height: 200px;
    background-color: #AEB9CF;
    border-radius: 10px;
    color: white;
    font-size: x-large;
    border: 2px solid #16324F;
    box-shadow: 10px 10px 5px #2F4964;
    cursor: pointer;
}

footer {
    background-color: #16324F;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: white;
}